<div class="container">
    <!-- LOGGED OUT VIEW -->
    <ng-container *ngIf="!(authService.isAuthenticated$ | async)">
      <section class="card">
      <h2>Acesso</h2>
      <p-tabs value="0">
        <p-tablist>
          <p-tab value="0">Login</p-tab>
          <p-tab value="1">Registrar</p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel value="0">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form-container">
              <input pInputText placeholder="Email" formControlName="email" class="input"/>
              <input pInputText type="password" placeholder="Senha" formControlName="password" class="input"/>
              <button class="btn" type="submit" [disabled]="loginForm.invalid">Entrar</button>
            </form>
          </p-tabpanel>
          <p-tabpanel value="1">
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form-container">
              <input pInputText placeholder="Nome Completo" formControlName="full_name" class="input"/>
              <input pInputText placeholder="Email" formControlName="email" class="input"/>
              <input pInputText type="password" placeholder="Senha" formControlName="password" class="input"/>
              <button class="btn" type="submit" [disabled]="registerForm.invalid">Registrar</button>
            </form>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
      <div class="divider">
        <span>OU</span>
      </div>
      <button (click)="redirectToGoogle()" class="btn neutral btn-google">
        <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" fill-rule="evenodd">
            <path d="M17.64 9.2045c0-.6381-.0573-1.2518-.1636-1.8409H9v3.4818h4.8436c-.2086 1.125-.8441 2.0782-1.7959 2.7164v2.2581h2.9087c1.7018-1.5668 2.6864-3.875 2.6864-6.6154z" fill="#4285F4"></path>
            <path d="M9 18c2.43 0 4.4673-.806 5.9564-2.1818l-2.9087-2.2581c-.8059.5409-1.8368.8618-2.989.8618-2.31 0-4.2641-1.5668-4.9682-3.6618H1.0582v2.3318C2.5359 16.1455 5.4818 18 9 18z" fill="#34A853"></path>
            <path d="M4.0318 10.7955c-.1454-.4227-.2272-.8818-.2272-1.3636s.0818-.9409.2272-1.3636V5.7364H1.0582C.3877 7.109.0014 8.55.0014 10.0318s.3864 2.9227 1.0568 4.2955l2.9732-2.3318z" fill="#FBBC05"></path>
            <path d="M9 3.6364c1.3227 0 2.5091.4545 3.4409 1.3455l2.5818-2.5818C13.4636.9273 11.4259 0 9 0 5.4818 0 2.5359 1.8545 1.0582 4.5727l2.9736 2.3318C4.7359 5.2045 6.69 3.6364 9 3.6364z" fill="#EA4335"></path>
          </g>
        </svg>
        <span>Entrar com Google</span>
      </button>
    </section>
  </ng-container>
  
    <!-- LOGGED IN VIEW -->
      <ng-container *ngIf="authService.currentUser$ | async as user">
        <section class="card"> 
          <h2>Bem-vindo, {{ user.full_name || user.email }}!</h2>
          <p>Você está autenticado! Agora você pode acessar recursos protegidos.</p>
          <pre class="user-details">{{ user | json }}</pre>
          <div class="actions">
            <button class="btn critical" (click)="onLogout()">Sair</button>
          </div>
        </section>
      </ng-container>
        
      <div class="card">
        <p>Clique no botão para tentar buscar os usuários cadastrados de uma rota protegida.</p>
        <button class="btn" (click)="fetchProtectedData()">Buscar Dados Protegidos</button>
        <div *ngIf="allUsers" class="data-display">
          <h4>Resultado:</h4>
          <ul class="user-list">
              <li *ngFor="let u of allUsers">
                  <span>{{ u.id }}: {{ u.full_name }} ({{ u.email }})</span>
              </li>
          </ul>
        </div>
      </div>
  
  </div>