@layer app-primeng-theme {
  :root{
    --p-primary-color: var(--accent-primary);
    --p-overlay-modal-background: var(--background-primary);
  }

  html.dark-mode{
    --p-primary-color: var(--accent-primary);
    --p-overlay-modal-background: var(--background-primary);
  }
}
