:root {
    --font-size-biggest: 30px;
    --font-size-big: 20px;
    --font-size-default: 16px;
    --font-size-small: 14px;
    --font-size-smallest: 12px;

    --header-height: 60px;
    --footer-height: 60px;
}