@layer app-primeng-theme {
  :root{
    --p-primary-color: var(--accent-primary);
    --p-overlay-modal-background: var(--background-primary);
    --p-content-background: var(--background-secondary);
    --p-content-border-color: var(--border-color);
  }
}
