<ngx-spinner
  class="loading-spinner"
  type="square-loader"
  bdColor="rgba(var(--background-primary-raw),0.5)"
  color="var(--accent-primary)"
  size="large"
  [fullScreen]="true"
>
</ngx-spinner> 

<div class="layout-container">
   <div class="layout-inner">
      <app-header></app-header>
         <div class="main-container">
            <main class="main-content">
               <router-outlet></router-outlet>
            </main>
         </div>
   </div>
   <app-footer></app-footer>
</div>